<h1 *ngIf="user" align="center">Utente: {{user.username}}</h1>

<div class="row" *ngIf="getLinesAddable().length>0" style="margin-top: 30px;">
  <div class="col">
    <select class="form-control" [(ngModel)]="idLineToAdd">
      <option [ngValue]="a.idLine" *ngFor="let a of getLinesAddable();">
        {{a.lineName}}
      </option>
    </select>
  </div>
  <div class="col">
    <button (click)="addLine()" type="button" class="btn btn-success">Aggiungi Linea</button>
  </div>
</div>

<div class="row" *ngIf="getRolesAddable().length>0" style="margin-top: 30px;">
  <div class="col">
    <select class="form-control" [(ngModel)]="roleToAdd">
      <option [ngValue]="a" *ngFor="let a of getRolesAddable();">
        {{a}}
      </option>
    </select>
  </div>
  <div class="col">
    <button (click)="addRole()" type="button" class="btn btn-success">Aggiungi Ruolo</button>
  </div>
</div>

<div class="row" *ngIf="getLinesRemovable().length>0" style="margin-top: 30px;">
  <div class="col">
    <select class="form-control" [(ngModel)]="idLineToRemove">
      <option [ngValue]="a.idLine" *ngFor="let a of getLinesRemovable();">
        {{a.lineName}}
      </option>
    </select>
  </div>
  <div class="col">
    <button (click)="removeLine()" type="button" class="btn btn-danger">Rimuovi Linea</button>
  </div>
</div>

<div class="row" *ngIf="getRolesRemovable().length>0" style="margin-top: 30px;">
  <div class="col">
    <select class="form-control" [(ngModel)]="roleToRemove">
      <option [ngValue]="a" *ngFor="let a of getRolesRemovable();">
        {{a}}
      </option>
    </select>
  </div>
  <div class="col">
    <button (click)="removeRole()" type="button" class="btn btn-danger">Rimuovi Ruolo</button>
  </div>
</div>
