<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <h2>Recover</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit();">

      <div class="form-group">

        <label>Email</label>

        <input type="text" formControlName="username"
               class="form-control" placeholder="pippo@gmail.com"
               [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />

        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Email is required</div>
          <div *ngIf="f.username.errors.email">Email format is wrong</div>
          <div *ngIf="f.username.errors.minlength">Email too short</div>
          <div *ngIf="f.username.errors.maxlength">Email too long</div>
        </div>

      </div>

      <div class="form-group">
        <button *ngIf="!loading" class="btn btn-primary">Recovery</button>
        <div *ngIf="loading" class="spinner-border text-info" role="status"></div>
        <button class="btn btn-link" type="button" routerLink="/login" style="color: red;">Login</button>
      </div>
    </form>
  </div>
</div>

