<div class="row">
  <div class="col">
    <label>
      Seleziona il bambino
      <select class="form-control" [(ngModel)]="childSelected" (ngModelChange)="childSelectedChange()">
        <option [ngValue]="a" *ngFor="let a of children;">
          {{a.firstname}} {{a.surname}}
        </option>
      </select>
    </label>
  </div>
  <div class="col">
    <label>
      Seleziona la data
      <input #myDate type="text" id="date" class="form-control" [(ngModel)]="dataSelected" autocomplete="off">
    </label>
  </div>
</div>

<div class="row" style="margin-top: 30px;">
  <div class="col">
    <h4>Andata</h4>
    <label>
      Seleziona la fermata
      <select class="form-control" [(ngModel)]="idOutStopBusSelected" (ngModelChange)="outStopBusSelectedChange()">
        <option [ngValue]="a.id" *ngFor="let a of outStopBuses;">
          {{a.name}} ({{a.lineName}})
        </option>
      </select>
    </label>
    <ul class="timeline">
      <li *ngFor="let a of outBusRides">
        <label style="font-style: italic;color: #22c0e8;">{{a.startTime | date:'fullDate'}}</label>
        <p></p>
        <p>
          {{a.lineName}} - {{getOutStopBusSelected().name}}
        </p>
        <p>
          {{getTimeStopBus(a,getOutStopBusSelected()) | date: 'medium'}}
        </p>
        <p *ngIf="!loading">
          <button *ngIf="!isBooked(a)" (click)="booking(a.id,childSelected.id,idOutStopBusSelected)" class="btn btn-primary" type="button">Prenota</button>
          <button *ngIf="isBooked(a)" (click)="delete(isBooked(a).id)" class="btn btn-danger" type="button">
            Cancella Prenotazione

          <!--<label *ngIf="isBooked(a)">-->
            ({{getStopBus(isBooked(a).idStopBus).lineName}} - {{getStopBus(isBooked(a).idStopBus).name}})
          </button>
        </p>

        <div *ngIf="loading" class="spinner-border text-info" role="status"></div>
      </li>
    </ul>
  </div>
  <div class="col">
    <h4>Ritorno</h4>
    <label>
      Seleziona la fermata
      <select class="form-control" [(ngModel)]="idRetStopBusSelected" (ngModelChange)="retStopBusSelectedChange()">
        <option [ngValue]="a.id" *ngFor="let a of retStopBuses;">
          {{a.name}} ({{a.lineName}})
        </option>
      </select>
    </label>
    <ul class="timeline">
      <li *ngFor="let a of retBusRides">
        <label style="font-style: italic;color: #22c0e8;">{{a.startTime | date:'fullDate'}}</label>
        <p></p>
        <p>
          {{a.lineName}} - {{getRetStopBusSelected().name}}
        </p>
        <p>
          {{getTimeStopBus(a,getRetStopBusSelected()) | date: 'medium'}}
        </p>
        <p *ngIf="!loading">
          <button *ngIf="!isBooked(a)" (click)="booking(a.id,childSelected.id,idRetStopBusSelected)" class="btn btn-primary" type="button">Prenota</button>
          <button *ngIf="isBooked(a)" (click)="delete(isBooked(a).id)" class="btn btn-danger" type="button">
            Cancella Prenotazione
            <!--<label *ngIf="isBooked(a)">-->
            ({{getStopBus(isBooked(a).idStopBus).lineName}} - {{getStopBus(isBooked(a).idStopBus).name}})
          </button>
        </p>

        <div *ngIf="loading" class="spinner-border text-info" role="status"></div>
      </li>
    </ul>
  </div>
</div>

