<div class="row">
  <div class="col">
    <label>
      Seleziona il bambino
      <select class="form-control" [(ngModel)]="childSelected" (ngModelChange)="childSelectedChange()">
        <ng-container *ngIf="children !== undefined">
        <option [ngValue]="a" *ngFor="let a of children;">
          {{a.firstname}} {{a.surname}}
        </option>
        </ng-container>
        <ng-container *ngIf="children !== undefined">
          <option disabled selected *ngIf="children.length === 0">
            Non hai bambini registrati
          </option>
        </ng-container>
      </select>
    </label>
  </div>
  <div class="col">
    <label>
      Seleziona la data
      <input #myDate type="text" id="date" class="form-control" [(ngModel)]="dataSelected" autocomplete="off">
    </label>
  </div>
</div>

<ng-container *ngIf="children !== undefined">
<div class="row" style="margin-top: 30px;">
  <div class="col">
    <h4>Andata</h4>
    <label>
      Seleziona la linea
      <select class="form-control" [(ngModel)]="idOutLineSelected" (ngModelChange)="outLineSelectedChange()">
        <ng-container *ngIf="linesToSelect !== undefined">
        <option [ngValue]="a.idLine" *ngFor="let a of linesToSelect;" [selected]="a.idLine === defaultLineOut">
          {{a.lineName}}
        </option>
        </ng-container>
      </select>
    </label>
    &nbsp;
    <br>
    <label *ngIf="outStopBuses !== undefined">
      Seleziona la fermata
      <select style="width: 300px" class="form-control" [(ngModel)]="idOutStopBusSelected" (ngModelChange)="outStopBusSelectedChange()">
          <option [ngValue]="a.id" *ngFor="let a of outStopBuses;" [selected]="a.id === idOutStopBusSelected">
            {{a.name}}
          </option>
      </select>
    </label>
    <ul class="timeline" *ngIf="outBusRides !== undefined">

      <li *ngFor="let a of outBusRides">
        <label style="font-style: italic;color: #22c0e8;">{{a.startTime | date:'fullDate'}}</label>
        <p></p>
        <p>
          <a routerLink="/mapLines/{{a.idLine+'_out'}}">{{a.lineName}}</a> - {{getOutStopBusSelected().name}} - {{lastStopBusOut}}
        </p>
        <p>
          {{getTimeStopBus(a,getOutStopBusSelected()) | date: 'medium'}}
        </p>
        <p *ngIf="!loading">
          <button *ngIf="!isBooked(a)" (click)="booking(a.id,childSelected.id,idOutStopBusSelected)" class="btn btn-primary" type="button">Prenota</button>
          <button *ngIf="isBooked(a)" (click)="delete(isBooked(a).id)" class="btn btn-danger" type="button">
            Cancella Prenotazione
            {{getStopBus(isBooked(a).idStopBus).lineName}} - {{getStopBus(isBooked(a).idStopBus).name}})
          </button>
        </p>

        <div *ngIf="loading" class="spinner-border text-info" role="status"></div>
      </li>
    </ul>
  </div>
  <div class="col" >
    <h4>Ritorno</h4>
    <label>
      Seleziona la linea
      <select class="form-control" [(ngModel)]="idRetLineSelected" (ngModelChange)="retLineSelectedChange()">
        <ng-container *ngIf="linesToSelect !== undefined">
          <option [ngValue]="a.idLine" *ngFor="let a of linesToSelect;" [selected]="a.idLine === defaultLineRet">
            {{a.lineName}}
          </option>
        </ng-container>
      </select>
    </label>
    &nbsp;
    <br>
    <label *ngIf="retStopBuses !== undefined">
      Seleziona la fermata
      <select style="width: 300px" class="form-control" [(ngModel)]="idRetStopBusSelected" (ngModelChange)="retStopBusSelectedChange()">
        <option [ngValue]="a.id" *ngFor="let a of retStopBuses;" [selected]="a.id === idRetStopBusSelected">
          {{a.name}}
        </option>
      </select>
    </label>
    <ul class="timeline" *ngIf="retBusRides !== undefined">
      <li *ngFor="let a of retBusRides">
        <label style="font-style: italic;color: #22c0e8;">{{a.startTime | date:'fullDate'}}</label>
        <p></p>
        <p>
          <a routerLink="/mapLines/{{a.idLine+'_ret'}}">{{a.lineName}}</a> -  {{lastStopBusRet}} - {{getRetStopBusSelected().name}}
        </p>
        <p>
          {{getTimeStopBus(a,getRetStopBusSelected()) | date: 'medium'}}
        </p>
        <p *ngIf="!loading">
          <button *ngIf="!isBooked(a)" (click)="booking(a.id,childSelected.id,idRetStopBusSelected)" class="btn btn-primary" type="button">Prenota</button>
          <button *ngIf="isBooked(a)" (click)="delete(isBooked(a).id)" class="btn btn-danger" type="button">
            Cancella Prenotazione

            ({{getStopBus(isBooked(a).idStopBus).lineName}} - {{getStopBus(isBooked(a).idStopBus).name}})
          </button>
        </p>

        <div *ngIf="loading" class="spinner-border text-info" role="status"></div>
      </li>
    </ul>
  </div>
</div>
</ng-container>
