<div class="row">
  <div class="col">
    <label>
      Seleziona il bambino
      <select class="form-control" [(ngModel)]="childSelected" (ngModelChange)="childSelectedChange()">
        <option [ngValue]="a" *ngFor="let a of children;">
          {{a.firstname}} {{a.surname}}
        </option>
      </select>
    </label>
  </div>
  <div class="col">
    <label>
      Seleziona la data
      <input type="date" class="form-control" [min]="today()"
             [(ngModel)]="dataSelected" (ngModelChange)="dataSelectedChange()">
    </label>
  </div>
</div>

<div class="row" style="margin-top: 30px;">
  <div class="col">
    <h4>Andata</h4>
    <ul class="timeline">
      <li *ngFor="let a of outBusRides">
        <label style="font-style: italic;color: #22c0e8;">{{a.lineName}}</label>
        <label style="font-style: italic;" class="float-right">{{a.startTime | date:'fullDate'}}</label>
        <p></p>
        <p>
          {{childSelected.stopBusOutDef.name}}
        </p>
        <p>
          {{getTimeDefaultStopBusOut() | date: 'medium'}}
        </p>
        <p *ngIf="!loading">
          <button *ngIf="!isBooked(a)" (click)="booking(a.id,childSelected.id,childSelected.idStopBusOutDef)" class="btn btn-primary" type="button">Prenota</button>
          <button *ngIf="isBooked(a)" (click)="delete(isBooked(a))" class="btn btn-danger" type="button">Cancella Prenotazione</button>
        </p>

        <div *ngIf="loading" class="spinner-border text-info" role="status"></div>
      </li>
    </ul>
  </div>
  <div class="col">
    <h4>Ritorno</h4>
    <ul class="timeline">
      <li *ngFor="let a of retBusRides">
        <label style="font-style: italic;color: #22c0e8;">{{a.lineName}}</label>
        <label style="font-style: italic;" class="float-right">{{a.startTime | date:'fullDate'}}</label>
        <p></p>
        <p>
          {{childSelected.stopBusRetDef.name}}
        </p>
        <p>
          {{getTimeDefaultStopBusRet() | date: 'medium'}}
        </p>
        <p *ngIf="!loading">
          <button *ngIf="!isBooked(a)" (click)="booking(a.id,childSelected.id,childSelected.idStopBusRetDef)" class="btn btn-primary" type="button">Prenota</button>
          <button *ngIf="isBooked(a)" (click)="delete(isBooked(a))" class="btn btn-danger" type="button">Cancella Prenotazione</button>
        </p>

        <div *ngIf="loading" class="spinner-border text-info" role="status"></div>
      </li>
    </ul>
  </div>
</div>

