<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <h2>Aggiorna Informazioni Bambino</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit();">

      <div class="form-group">

        <label>Nome</label>

        <input type="text" formControlName="firstname"
               class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" />

        <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
          <div *ngIf="f.firstname.errors.required">Firstname is required</div>
          <div *ngIf="f.firstname.errors.maxlength">Firstname too long</div>
        </div>

      </div>

      <div class="form-group">
        <label >Cognome</label>

        <input type="text" formControlName="surname" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.surname.errors }" />

        <div *ngIf="submitted && f.surname.errors" class="invalid-feedback">
          <div *ngIf="f.surname.errors.required">Surname is required</div>
          <div *ngIf="f.surname.errors.maxlength">Surname too long</div>
        </div>

      </div>

      <div class="form-group">
        <label >Data di Nascita</label>
        <input #myDate type="text" id="date"class="form-control"/>

      </div>

      <div class="form-group">
        <label >Sesso</label>

        <select class="form-control" formControlName="gender"
                [ngClass]="{ 'is-invalid': submitted && f.gender.errors }" >
          <option disabled selected value> -- select an option -- </option>
          <option [value]="gender" *ngFor="let gender of genders">
            {{gender}}
          </option>
        </select>

        <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
          <div *ngIf="f.gender.errors.required">Gender is required</div>
        </div>

      </div>

      <div class="form-group">
        <label >Linea di Andata</label>

        <select class="form-control" formControlName="outwardLine"
                [ngClass]="{ 'is-invalid': submitted && f.outwardLine.errors }"  (change)="changeOutLine($event)">
          <option [value]="a.idLine" *ngFor="let a of lineEnum" [selected]="a.idLine === defaultLineOut">
            {{a.lineName}}
          </option>
        </select>

        <img *ngIf="outIsChange" routerLink="/mapLines/{{getPathLineOut()}}" src="../../../../assets/images/info.png" style="cursor: pointer;object-fit: cover;width: 100%;max-width: 20px;">

        <div *ngIf="submitted && f.outwardLine.errors" class="invalid-feedback">
          <div *ngIf="f.outwardLine.errors.required">Default Outward Line is required</div>
        </div>

      </div>

      <div class="form-group" *ngIf="outStopBuses !== undefined">
        <label >Fermata di Andata</label>

        <select class="form-control" formControlName="outwardStopBus"
                [ngClass]="{ 'is-invalid': submitted && f.outwardStopBus.errors }">
          <option [value]="a.id" *ngFor="let a of outStopBuses" [selected]="a.id === defaultStopOut">
            {{a.name}}
          </option>
        </select>

        <div *ngIf="submitted && f.outwardStopBus.errors" class="invalid-feedback">
          <div *ngIf="f.outwardStopBus.errors.required">Default Outward Stop Bus is required</div>
        </div>

      </div>

      <div class="form-group">
        <label >Linea di Ritorno</label>

        <select class="form-control" formControlName="returnLine"
                [ngClass]="{ 'is-invalid': submitted && f.returnLine.errors }" (change)="changeRetLine($event)" >
          <option [value]="a.idLine" *ngFor="let a of lineEnum" [selected]="a.idLine === defaultLineRet">
            {{a.lineName}}
          </option>
        </select>

        <img *ngIf="retIsChange" routerLink="/mapLines/{{getPathLineRet()}}" src="../../../../assets/images/info.png" style="cursor: pointer;object-fit: cover;width: 100%;max-width: 20px;">


        <div *ngIf="submitted && f.returnLine.errors" class="invalid-feedback">
          <div *ngIf="f.returnLine.errors.required">Default Return Line is required</div>
        </div>

      </div>

      <div class="form-group" *ngIf="retStopBuses !== undefined">
        <label >Fermata di Ritorno</label>

        <select class="form-control" formControlName="returnStopBus"
                [ngClass]="{ 'is-invalid': submitted && f.returnStopBus.errors }">
          <option [value]="a.id" *ngFor="let a of retStopBuses" [selected]="a.id === defaultStopRet">
            {{a.name}}
          </option>
        </select>

        <div *ngIf="submitted && f.returnStopBus.errors" class="invalid-feedback">
          <div *ngIf="f.returnStopBus.errors.required">Default Return Stop Bus is required</div>
        </div>

      </div>


      <div class="form-group">
        <button *ngIf="!loading" class="btn btn-primary">Aggiorna</button>
        <div *ngIf="loading" class="spinner-border text-info" role="status"></div>
      </div>

    </form>
  </div>
</div>


