<div class="row">
  <div class="col-sm-4">
    <label>
      Seleziona la linea
      <select class="form-control" [(ngModel)]="selectedLine" (ngModelChange)="selectedLineChange()">
        <option [ngValue]="l" *ngFor="let l of lines;">
          {{l.lineName}}
        </option>
      </select>
    </label>
  </div>
  <div class="col-sm-4">
    <label>
      Seleziona direzione
      <select class="form-control" [(ngModel)]="selectedDirection" (ngModelChange)="selectedDirectionChange()">
        <option [ngValue]="a" *ngFor="let a of directions;">
          {{a}}
        </option>
      </select>
    </label>
  </div>
  <div class="col-sm-4">
    <label>
      Seleziona la data
      <input #myDate type="text" id="date" class="form-control" [(ngModel)]="selectedData" autocomplete="off">
    </label>
  </div>
</div>
<div class="col" *ngIf="notExist">
  <label style="font-size: 30px" class="red">La corsa non esiste</label>
</div>
<div class="row" style="margin-top: 30px;">
  <div class="col" *ngIf="busRide">
    <div class="col">
      <label style="color: blue; font-size: 30px; font-weight: bold" *ngIf="busRide.timestampLastStopBus === null">La corsa non è iniziata</label>
    </div>
  <div class="col">
    <ul class="timeline">
      <li *ngFor="let stopBus of busRide.stopBuses; let i = index;last as isLastStop;first as isFirstStop;" [class.nopassed]="!isBusAlreadyPassed(stopBus.id)" [class.passed]="isBusAlreadyPassed(stopBus.id)">
        <div style="padding:0px 0px 15px 10px;">
          <h5 style="font-style: italic;color: #22c0e8;" class="left">{{convertMinutesToTime(stopBus.hours)}} - {{stopBus.name}}</h5>
          <ng-container *ngIf="presenceBusRide !== undefined && presenceBusRide.presenceStopBusGETTreeSet[i] !== undefined && presenceBusRide.presenceStopBusGETTreeSet[i].presenceChildGETSet !== undefined">
          <span *ngFor="let child of presenceBusRide.presenceStopBusGETTreeSet[i].presenceChildGETSet;last as isLast;">

            <ng-container *ngIf="stopBus.stopBusType === 'Outward'">
              <ng-container *ngIf="!isLastStop">
                <span [class.green]="child.getIn" [class.red]="child.absent">{{child.nameChild}}</span>
                <span *ngIf="!isLast">, </span>
                <span *ngIf="isLast">.</span>
              </ng-container>
              <ng-container *ngIf="isLastStop">
                <span [class.orange]="child.getOut">{{child.nameChild}}</span>
                <span *ngIf="!isLast">, </span>
                <span *ngIf="isLast">.</span>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="stopBus.stopBusType === 'Return'">
              <ng-container *ngIf="!isFirstStop">
                <span [class.orange]="child.getOut">{{child.nameChild}}</span>
                <span *ngIf="!isLast">, </span>
                <span *ngIf="isLast">.</span>
              </ng-container>
              <ng-container *ngIf="isFirstStop">
                <span [class.green]="child.getIn" [class.red]="child.absent">{{child.nameChild}}</span>
                <span *ngIf="!isLast">, </span>
                <span *ngIf="isLast">.</span>
              </ng-container>
            </ng-container>
          </span>

          <span *ngIf="presenceBusRide.presenceStopBusGETTreeSet[i].presenceChildGETSet.length === 0"><i>Non ci sono bambini prenotati.</i></span>
          </ng-container>
          <div *ngIf="stopBus.id === busRide.idLastStopBus" style="margin: 15px 5px 0px 0px;">
            <img src="../../../../assets/images/bus-logo.png" style="margin-right: 10px;min-width: 25px;" width="30px" height="auto">
            <span *ngIf="!isLastStop">Il Pedibus ha lasciato questa fermata alle ore: {{convertTimestampToTime(busRide.timestampLastStopBus)}}</span>
            <span *ngIf="isLastStop">Il Pedibus ha concluso la sua corsa alle ore: {{convertTimestampToTime(busRide.timestampLastStopBus)}}</span>
          </div>
        </div>
      </li>
    </ul>
    <br>
  </div>
  <div class="col">
    <span><button style="background: white;border-color: blue; border-radius: 8px" (click)="showLegend = !showLegend">Legenda:</button></span>
    <ul *ngIf="showLegend">
      <li>[nero] Prenotato ma stato non aggiornato</li>
      <li class="green">[verde] Salito</li>
      <li class="orange">[arancio] Sceso</li>
      <li class="red">[rosso] Assente</li>
    </ul>
  </div>
  </div>
</div>
