<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <h2>Aggiorna Informazioni</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit();">

      <div class="form-group" [formGroup]="form">

        <label>Nome</label>

        <input type="text" formControlName="firstname"
               class="form-control"
               [value]="user.firstname"
               [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" />

        <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
          <div *ngIf="f.firstname.errors.required">Firstname is required</div>
          <div *ngIf="f.firstname.errors.maxlength">Firstname too long</div>
        </div>

      </div>

      <div class="form-group" [formGroup]="form">
        <label >Cognome</label>

        <input type="text" formControlName="surname" class="form-control"
               [value]="user.surname"
               [ngClass]="{ 'is-invalid': submitted && f.surname.errors }" />

        <div *ngIf="submitted && f.surname.errors" class="invalid-feedback">
          <div *ngIf="f.surname.errors.required">Surname is required</div>
          <div *ngIf="f.surname.errors.maxlength">Surname too long</div>
        </div>

      </div>

      <div class="form-group" [formGroup]="form">
        <label >Data di Nascita</label>

        <input #myDate type="text" id="date" class="form-control"/>

      </div>

      <div class="form-group" [formGroup]="form">
        <label >Numero di telefono</label>

        <input type="text" formControlName="phoneNumber" class="form-control"
               [value]="user.phoneNumber"
               [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" />

        <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
          <div *ngIf="f.phoneNumber.errors.required">Phone number is required</div>
        </div>

      </div>

      <div class="form-group" [formGroup]="form">
        <label >Indirizzo</label>

        <input type="text" formControlName="street" class="form-control"
               [value]="user.street"
               [ngClass]="{ 'is-invalid': submitted && f.street.errors }" />

        <div *ngIf="submitted && f.street.errors" class="invalid-feedback">
          <div *ngIf="f.street.errors.required">Street is required</div>
        </div>

      </div>

      <div class="form-group" [formGroup]="form">
        <label>Password</label>
        <input type="password" formControlName="password" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />

        <div *ngIf="submitted && f.password.errors && !checkPassword()" class="invalid-feedback">
          <div *ngIf="!checkPassword()">Password doesn't match</div>
          <div *ngIf="f.password.errors.pattern">Password pattern is incorrect</div>
          <div *ngIf="f.password.errors.minlength">Password too short</div>
          <div *ngIf="f.password.errors.maxlength">Password too long</div>
        </div>
      </div>

      <div class="form-group" [formGroup]="form">
        <label>Verifica Password</label>
        <input type="password" formControlName="verifyPassword" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.verifyPassword.errors }" />

        <div *ngIf="submitted && f.verifyPassword.errors && !checkPassword()" class="invalid-feedback">
          <div *ngIf="!checkPassword()">Password doesn't match</div>
          <div *ngIf="f.verifyPassword.errors.pattern">Password pattern is incorrect</div>
          <div *ngIf="f.verifyPassword.errors.minlength">Password too short</div>
          <div *ngIf="f.verifyPassword.errors.maxlength">Password too long</div>
        </div>
      </div>

      <div class="form-group" [formGroup]="form">
        <button *ngIf="!loading" class="btn btn-primary">Aggiorna</button>
        <div *ngIf="loading" class="spinner-border text-info" role="status"></div>
      </div>
    </form>
  </div>
</div>
