
<div class="row">

  <label >Line</label>

  <select class="form-control" (change)="getLineCoordinates($event)">
    <option disabled selected value> -- select an option -- </option>
    <option [value]="l.idLine" *ngFor="let l of lineEnum" [selected]="l.idLine === actualLine">
      {{l.lineName}}
    </option>
  </select>

  <div class="col" style="display: inline">
    <div class="checkboxgroup">
    <label for="radioOut">Andata</label>
    <input type="radio" id="radioOut" name="direction" style="position: absolute" value="out" [checked]="actualDirection === 'out' ? true : false" (click)="getDirection($event)"  />
    </div>
      &nbsp;
    <div class="checkboxgroup">
    <label for="radioRet">Ritorno</label>
    <input type="radio" id="radioRet" name="direction" style="position: absolute" value="ret" [checked]="actualDirection === 'ret' ? true : false" (click)="getDirection($event)" />
    </div>
    </div>

<!--agm-map [latitude]='lat' [longitude]='lng'
         [mapTypeId]='mapType' [zoom]="14" >
  <agm-marker
    [latitude]="lat"
    [longitude]="lng"
    [opacity]="1">
  </agm-marker>

  <agm-marker
    *ngFor="let marker of markers"
    [latitude]="marker.lat"
    [longitude]="marker.lng"
    [opacity]="marker.alpha"
    [markerDraggable]="false"
    [title]="marker.name"
  >
  </agm-marker>
  <agm-rectangle
    [north]="max('lat')"
    [east]="max('lng')"
    [south]="min('lat')"
    [west]="min('lng')"
  >
  </agm-rectangle>
</agm-map-->

  <aol-map style="border: none; position: relative; top: 20px; height: 600px; width: 1140px;z-index: 1;" (onClick)="showInfo($event)" *ngIf="showMap" loadTilesWhileAnimating="true" loadTilesWhileInteracting="true">
    <aol-view [zoom]="14">
      <aol-coordinate [x]="lng" [y]="lat" [srid]="'EPSG:4326'"></aol-coordinate>
    </aol-view>
    <aol-interaction-default></aol-interaction-default>
    <aol-layer-tile>
      <aol-source-osm></aol-source-osm>
    </aol-layer-tile>
    <aol-layer-vector [opacity]="1">
      <aol-source-vector>
        <aol-feature *ngIf="loading">
          <aol-geometry-point >
            <aol-coordinate [x]="lng" [y]="lat" [srid]="'EPSG:4326'"></aol-coordinate>
          </aol-geometry-point>
          <aol-style>
            <aol-style-icon
              [src]="'data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=='"
              [anchor]="[0.5, 1]"
              [anchorXUnits]="'fraction'" [anchorYUnits]="'fraction'"
              [scale]="1"
              [anchorOrigin]="'top-left'">
            </aol-style-icon>
          </aol-style>
        </aol-feature>
        <ng-container *ngIf="markers !== null">
        <aol-feature *ngFor="let marker of markers">
          <aol-geometry-point >
            <aol-coordinate [x]="marker.lng" [y]="marker.lat" [srid]="'EPSG:4326'"></aol-coordinate>
          </aol-geometry-point>
          <aol-style>
            <aol-style-icon
              [src]="'../../../assets/images/marker.png'"
              [anchor]="[0.5, 1]"
              [anchorXUnits]="'fraction'" [anchorYUnits]="'fraction'"
              [scale]="1"
              [anchorOrigin]="'top-left'">
            </aol-style-icon>
          </aol-style>

        </aol-feature>
        </ng-container>
      </aol-source-vector>
    </aol-layer-vector>
    <aol-overlay *ngIf="addOverlay!==undefined">
      <aol-coordinate
        [x]="addOverlay.lng"
        [y]="addOverlay.lat"
        [srid]="'EPSG:4326'"
      >
      </aol-coordinate>
      <aol-content>
        <div class="my-overlay-class" class="popup">
          <input type="image" src="../../../assets/images/delete-cross.png" alt="Submit" width="18" height="18"(click)="deleteDiv()">
          <p>Fermata: {{addOverlay.name}}</p>
          <p>Orario: {{addOverlay.time}}</p>
        </div>
      </aol-content>
    </aol-overlay>
  </aol-map>

</div>
