<div class="card text-center m-3">
  <h2 class="card-header">Lista delle disponibilità confermate</h2>
  <div class="table-responsive">
    <table class="table table-responsive table-striped" style="font-family: Lato;">
      <thead>
      <tr>
        <th scope="col" width="auto">Data</th>
        <th scope="col" width="auto">Linea</th>
        <th scope="col" width="auto">Verso Corsa</th>
        <th scope="col" width="auto">Fermata partenza</th>
        <th scope="col" width="auto">Ora partenza</th>
        <th scope="col" width="auto">Fermata arrivo</th>
        <th scope="col" width="auto">Ora arrivo</th>
        <th scope="col" width="auto">Stato corsa</th> <!-- corsa effettuata / effettua corsa / corsa da effettuare -->
        <th scope="col" width="auto">PER DEBUGGING</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let av of confirmedAvailabilities | paginate: { itemsPerPage: pageSize, currentPage: p }" scope="row">
        <td>{{('0' + av.busRide.day).slice(-2)}}/{{('0' + (av.busRide.month+1)).slice(-2)}}/{{av.busRide.year}}</td>
        <td>{{av.busRide.lineName}}</td>
        <td>{{av.busRide.stopBusType}}</td>
        <td>{{getEscortStartStopBus(av).name}}</td>
        <td>{{convertMinutesToTime(getEscortStartStopBus(av).hours)}}</td>
        <td>{{getEscortEndStopBus(av).name}}</td>
        <td>{{convertMinutesToTime(getEscortEndStopBus(av).hours)}}</td>
        <td *ngIf="av.busRide.idLastStopBus === av.busRide.stopBuses[av.busRide.stopBuses.length-1].id">Corsa effettuata</td>
        <td *ngIf="av.busRide.idLastStopBus !== av.busRide.stopBuses[av.busRide.stopBuses.length-1].id && checkIfCanStart(av.busRide)"><button (click)="clickOnBusRide(av)" class="btn btn-primary">Effettua corsa</button></td>
        <td *ngIf="av.busRide.idLastStopBus !== av.busRide.stopBuses[av.busRide.stopBuses.length-1].id && !checkIfCanStart(av.busRide)"><span>La corsa non può ancora inziare</span></td>
        <td><button (click)="clickOnBusRide(av)">Effettua corsa</button></td>
      </tbody>
    </table>
  </div>
  <div class="card-footer pb-0 pt-3">
    <pagination-controls (pageChange)="onChangePage($event)"></pagination-controls>
  </div>
  <span *ngIf="confirmedAvailabilities.length === 0">NON CI SONO DISPONIBILITA' CONFERMATE.</span>
</div>
