<p>
  <!--TODO-->
  Qui ESCORT puo vedere tutte le sue availability e il loro stato, inoltre può confermare la presa visione,
  del fatto che l'availability sia stata accetta dall' admin/sysAdmin
</p>
<h2 align="center">Elenco disponibilità</h2>
<div class="row">
  <table class="table table-responsive table-striped" style="font-family: Lato;">
    <thead>
    <tr>
      <th scope="col" width="auto">Nome Linea</th>
      <th scope="col" width="auto">Fermata Partenza</th>
      <th scope="col" width="auto">Fermata Arrivo</th>
      <th scope="col" width="auto">Data</th>
      <th scope="col" width="auto">Stato</th>
      <th scope="col" width="8%">Conferma</th>
      <th scope="col" width="8%">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let a of availabilities;">
      <td>{{a.lineNameOfBusRide || '-' }}</td>
      <td>{{showDep(a.idBusRide, a.stopBusName) || '-' }}</td>
      <td>{{showArr(a.idBusRide, a.stopBusName) || '-' }}</td>
      <!--<td>{{visualizeData(a.startDateOfBusRide) | date:'HH:mm - dd/MM/yy'}}</td>-->
      <td>{{visualizeData(a) | date:'HH:mm - dd/MM/yy'}}</td>
      <td>{{a.state || '-'}}</td>
      <td>
        <button *ngIf="checkConfirm(a.state)" (click)="confirm(a)">Conferma</button>
        <button *ngIf="checkAvail(a.state)" disabled>Attesa conferma Admin</button>
        <button *ngIf="checkDel(a.state)" disabled>Disponibilità già data</button>
        <button *ngIf="checkrc(a.state)" disabled>Attesa completamento Admin</button>
      </td>
      <td>
        <img *ngIf="!checkDel(a.state)" (click)="delete(a)" src="../../../../assets/images/delete.png" style="margin-left: 13px;cursor: pointer;min-width: 25px;" width="50%" height="auto">
        <button *ngIf="checkDel(a.state)" (click)="confirm(a)" disabled>info mouse over</button>
        <!--TODO l'ideale sarebbe un'iconcina con il ? (ma anche icone per il resto) dove se ci si passa sopra il mouse o ci si clicca dice che bisogna contattare l'admin per la cancellazione-->
      </td>
    </tr>
    </tbody>
  </table>
</div>
