<p>
  <!--TODO-->
  Qui ESCORT puo dare la sua disponibilità nelle varie corse (elenco delle busrides)
</p>
<div class="row">
  <div class="col">
    <label>
      Seleziona la fermata di partenza/arrivo
      <select class="form-control" [(ngModel)]="direction" (ngModelChange)="changeDirection()">
        <option [ngValue]="a" *ngFor="let a of directions;">
          {{a}}
        </option>
      </select>
    </label>
  </div>
  <div class="col">
    <label>
      Seleziona la data
      <input #myDate type="text" id="date" class="form-control" [(ngModel)]="dataSelected" autocomplete="off">
    </label>
  </div>
</div>

<div class="row" style="margin-top: 30px;">
  <div class="col">
    <h4>{{direction}}</h4>
    <label>
      Seleziona la fermata
      <select class="form-control" [(ngModel)]="stopBusSelected" (ngModelChange)="stopBusSelectedChange()">
        <option [ngValue]="a" [selected]="a" *ngFor="let a of stopBuses;">
          {{a.name}} ({{a.lineName}})
        </option>
      </select>
    </label>
    <ul class="timeline">
      <li *ngFor="let a of busRides">
        <label style="font-style: italic;color: #22c0e8;">{{a.startTime | date:'fullDate'}}</label>
        <p></p>
        <p>
          {{a.lineName}}
        </p>
        <p>
          {{getTimeStopBus(a,getStopBusSelected()) | date: 'medium'}}
        </p>
        <p *ngIf="!loading">
          <button *ngIf="!isBooked(a)" (click)="giveAvailability(a.id, this.stopBusSelectedId)" class="btn btn-primary" type="button">Invia</button>
          <!--<button *ngIf="isBooked(a)" (click)="delete(isBooked(a).id)" class="btn btn-danger" type="button" disabled>-->
          <button *ngIf="isBooked(a)"  class="btn btn-danger" type="button" disabled>
            Disponibilità inviata </button> <!-- TODO cambiare colore, la cancellazione e la modifica verrà effettuta nell'altra pagina -->
        </p>

        <div *ngIf="loading" class="spinner-border text-info" role="status"></div>
      </li>
    </ul>
  </div>
</div>
