<h2 align="center">{{currentStopBus.name}}</h2>
<div class="list">
  <h5 align="left">Bambini prenotati:</h5>
  <ul>
    <div *ngFor="let res of reservations" class="element" [class.green]="res.isGetIn" [class.orange]="res.isGetOut" [class.red]="res.isAbsent">
      <span style="vertical-align: middle;">{{res.child.firstname}} {{res.child.surname}}</span>
      <div class="container_buttons">
        <button class="button green" (click)="clickGetIn(res)" *ngIf="(isOutwardStop&&!isLastStop)||(isReturnStop&&isFirstStop)">Salito</button>
        <button class="button orange" (click)="clickGetOut(res)" *ngIf="(isOutwardStop&&isLastStop)||(isReturnStop&&!isFirstStop)">Sceso</button>
        <button class="button red" (click)="clickAbsent(res)" *ngIf="(isOutwardStop&&!isLastStop)||(isReturnStop&&isFirstStop)">Assente</button>
      </div>
    </div>
    <li *ngIf="reservations.length === 0">Nessuna prenotazione!</li>
  </ul>

</div>
<button (click)="clickNextStop()">PROSSIMA FERMATA</button>
