<h2 align="center">{{currentStopBus.name}}</h2>

<div class="list">
  <h5 align="left">Bambini prenotati:</h5>
    <div *ngFor="let res of reservations" class="element" [class.green]="res.isGetIn" [class.orange]="res.isGetOut" [class.red]="res.isAbsent">
      <span style="vertical-align: middle;">{{res.child.firstname}} {{res.child.surname}}</span>
      <div class="container_buttons">
        <button class="button green" (click)="clickGetIn(res)" *ngIf="(isOutwardStop&&!isLastStop)||(isReturnStop&&isFirstStop)">Salito</button>
        <button class="button orange" (click)="clickGetOut(res)" *ngIf="(isOutwardStop&&isLastStop)||(isReturnStop&&!isFirstStop)">Sceso</button>
        <button class="button red" (click)="clickAbsent(res)" *ngIf="(isOutwardStop&&!isLastStop)||(isReturnStop&&isFirstStop)">Assente</button>
      </div>
    </div>
    <div *ngIf="reservations.length === 0">Nessuna prenotazione!</div>
</div>
<br><br>
<div>
  <button (click)="showBoxSearchChildren = true" *ngIf="!showBoxSearchChildren&&isOutwardStop" class="btn btn-secondary">Aggiungi bambino senza prenotazione</button>
  <button (click)="showBoxSearchChildren = false" *ngIf="showBoxSearchChildren" class="btn btn-secondary">Nascondi bambini senza prenotazione</button>
  <div *ngIf="showBoxSearchChildren" style="max-height: 60%;margin: 10px;">
    <h5>Bambini senza prenotazione</h5>
    Ricerca per nome e/o cognome: <input type="text" class="form-control" [formControl]="nameChild"><br>
    <ng-container *ngIf="childrenWithoutReservation !== undefined">
      <div *ngFor="let child of childrenWithoutReservation | myfilterChildrenByNameAndSurname:nameChild.value; let i = index;" class="element">
        <span style="vertical-align: middle;">{{child.firstname}} {{child.surname}}</span>
        <div class="container_buttons"><button class="button green" (click)="clickGetInWithoutReservation(child, i)">Salito</button></div>
      </div>
      </ng-container>
  </div>
</div>
<br><br>
<button (click)="clickNextStop()" class="btn btn-primary" style="float: right;">PROSSIMA FERMATA</button>
